body {
    padding: 0px;
    margin: 0px;
    background-image: url("../images/background.jpg");
    font-family: Arial;
    font-size: 15px;
}

.header {
    color: white;
    background-color: #8cd1ff;
    text-align: center;
    padding: 20px;
}

.header2 {
    color: red;
    text-align: center;
    padding-top: 50px;
}

.block {
    background-color: aliceblue;
    padding: 20px;
}